.main {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  /* align-items: center; */
  min-height: 100vh;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
  /* overflow: hidden; */
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 100vw;
  height: 80px;
  background: transparent;
  border-bottom: 1px solid #5a5a5a;
  /* padding: 27px 17%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s ease;
  background: transparent;
  backdrop-filter: blur(35px);
}

.logo {
  position: relative;
  font-size: 32px;
  color: #fcfdfd;
  font-weight: 700;
  width: 300px;
  left: 7%;
}

.navbar {
  display: flex;
}

.navbar li {
  text-decoration: none;
  list-style: none;
}

.navbar a {
  color: #fcfdfd;
  text-decoration: none;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  margin: 15px 22px;
  transition: all 0.5s ease;
}

.navbar a:hover {
  color: #fcfd;
}


.socials {
  /* display: flex;
  align-items: center;
  position: relative;*/
  margin-right: 6rem;
  position: relative;
  left: 1%;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.followUs {
  position: relative;
  right: 1rem;
}

.socials a:first-child {
  position: relative;
  color: #fcfdfd;
  font-size: 1rem;
}

.socials a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-image: no-repeat;
  height: 45px;
  width: 45px;
  /* color: #874213; */
  /* background: #202020; */
  font-size: 20px;
  margin-right: 8px;
  transition: transform 0.6s;
  border-radius: 0;
}

.socials a:hover {
  color: #dbee90;
  transform: translateY(-3px);
}

.iconTop1 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-image: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24' fill='rgba(250,250,250,1)'%3E%3Cpath d='M4.00098 3H20.001C20.5533 3 21.001 3.44772 21.001 4V20C21.001 20.5523 20.5533 21 20.001 21H4.00098C3.44869 21 3.00098 20.5523 3.00098 20V4C3.00098 3.44772 3.44869 3 4.00098 3ZM5.00098 5V19H19.001V5H5.00098ZM7.50098 9C6.67255 9 6.00098 8.32843 6.00098 7.5C6.00098 6.67157 6.67255 6 7.50098 6C8.3294 6 9.00098 6.67157 9.00098 7.5C9.00098 8.32843 8.3294 9 7.50098 9ZM6.50098 10H8.50098V17.5H6.50098V10ZM12.001 10.4295C12.5854 9.86534 13.2665 9.5 14.001 9.5C16.072 9.5 17.501 11.1789 17.501 13.25V17.5H15.501V13.25C15.501 12.2835 14.7175 11.5 13.751 11.5C12.7845 11.5 12.001 12.2835 12.001 13.25V17.5H10.001V10H12.001V10.4295Z'%3E%3C/path%3E%3C/svg%3E");
  height: 35px;
  width: 35px;
  color: #fcfdfd;
  /* background: #202020; */
  font-size: 20px;
  margin-right: 8px;
  transition: transform 0.6s;
  border-radius: 0;
}

.iconTop2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-image: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='rgba(255,255,255,1)'%3E%3Cpath d='M12.001 2C6.47598 2 2.00098 6.475 2.00098 12C2.00098 16.425 4.86348 20.1625 8.83848 21.4875C9.33848 21.575 9.52598 21.275 9.52598 21.0125C9.52598 20.775 9.51348 19.9875 9.51348 19.15C7.00098 19.6125 6.35098 18.5375 6.15098 17.975C6.03848 17.6875 5.55098 16.8 5.12598 16.5625C4.77598 16.375 4.27598 15.9125 5.11348 15.9C5.90098 15.8875 6.46348 16.625 6.65098 16.925C7.55098 18.4375 8.98848 18.0125 9.56348 17.75C9.65098 17.1 9.91348 16.6625 10.201 16.4125C7.97598 16.1625 5.65098 15.3 5.65098 11.475C5.65098 10.3875 6.03848 9.4875 6.67598 8.7875C6.57598 8.5375 6.22598 7.5125 6.77598 6.1375C6.77598 6.1375 7.61348 5.875 9.52598 7.1625C10.326 6.9375 11.176 6.825 12.026 6.825C12.876 6.825 13.726 6.9375 14.526 7.1625C16.4385 5.8625 17.276 6.1375 17.276 6.1375C17.826 7.5125 17.476 8.5375 17.376 8.7875C18.0135 9.4875 18.401 10.375 18.401 11.475C18.401 15.3125 16.0635 16.1625 13.8385 16.4125C14.201 16.725 14.5135 17.325 14.5135 18.2625C14.5135 19.6 14.501 20.675 14.501 21.0125C14.501 21.275 14.6885 21.5875 15.1885 21.4875C19.259 20.1133 21.9999 16.2963 22.001 12C22.001 6.475 17.526 2 12.001 2Z'%3E%3C/path%3E%3C/svg%3E");
  height: 35px;
  width: 35px;
  font-size: 20px;
  margin-right: 8px;
  transition: transform 0.6s;
  border-radius: 0;
}

.iconTop3 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-image: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='rgba(255,255,255,1)'%3E%3Cpath d='M11.501 3V11.5H3.00098V3H11.501ZM11.501 21H3.00098V12.5H11.501V21ZM12.501 3H21.001V11.5H12.501V3ZM21.001 12.5V21H12.501V12.5H21.001Z'%3E%3C/path%3E%3C/svg%3E");
  height: 35px;
  width: 35px;
  font-size: 20px;
  margin-right: 8px;
  transition: transform 0.6s;
  border-radius: 0;
}

.menu {
  cursor: pointer;
  z-index: 10001;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-image: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='rgba(255,255,255,1)'%3E%3Cpath d='M3 4H21V6H3V4ZM3 11H21V13H3V11ZM3 18H21V20H3V18Z'%3E%3C/path%3E%3C/svg%3E");
  color: #fcfdfd;
  height: 30px;
  width: 30px;
  margin-left: 0.5rem;
  left: 12px;
  margin-bottom: 27px;
  display: none;
}

/* Home section */
.home {
  padding: 70px 17% 60px;
  margin-top: 32px;
  position: relative;
  top: 1rem;
  height: 100vh;
  background-size: cover;
  background-position: bottom;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.homeText h5 {
  position: absolute;
  top: 4rem;
  font-size: 1.5rem;
  margin-bottom: 10px;
  letter-spacing: 6px;
  color: #fcfd;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.homeText h1 {
  font-size: 5rem;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 20px;
  color: #fcfdfd;
}

.homeText h1 {
  background: linear-gradient(to right,
      rgb(5, 119, 139),
      rgb(239, 94, 213),
      rgb(63, 51, 224),
      rgb(2, 70, 74),
      rgb(234, 39, 124),
      rgb(230, 180, 73),
      rgb(5, 119, 139));
  background-clip: text;
  color: transparent;
  background-size: 200% auto;
  animation: gradientAnimation 5s linear infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 200% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.homePara {
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  line-height: 30px;
  color: #fcfdfd;
  margin-bottom: 35px;
}

.homeButton {
  position: relative;
  display: inline-block;
  padding: 13px 40px;
  background: transparent;
  /* background: var(--bg-color); */
  color: #fcfdfd;
  font-size: 15px;
  font-weight: 600;
  border: 1px solid #fcfdfd;
  border-radius: 2px;
  transition: all 0.5s ease;
  cursor: pointer;
  left: 85%;
}


.homeButton:hover {
  transform: translateX(10px);
  border: 2px solid #fcfdfd;
  background: #fcfdfd;
  color: #1a1a1a;
}

/* Feature section */
.techStack {
  position: relative;
  max-width: 100%;
  top: 3.5rem;
  left: 42%;
  font-size: 2rem;
  color: #b1b5b5;
  /* transform: translateX(-50%); */
}

.featureContent {
  position: relative;
  top: 8rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 3rem;
  margin: 0 1rem 0 1rem;
}

.rowImg {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fcfdfd;
  margin: 0 auto;
  margin-bottom: 24px;
  /* border-radius: 50%; */
  cursor: pointer;
}

.rowImg img {
  position: relative;
  width: 150px;
  height: 70px;
  display: block;
  transition: transform 0.7s;
}

.featureContent h4 {
  color: rgb(193, 193, 193);
  position: relative;
  justify-content: center;
}

.featureContent h4:hover {
  color: #bfe4e4;
}

.rowImg img:hover {
  transform: scale(1.2);
}

.featureContent h4 {
  margin-top: 5rem;
  position: relative;
  top: -40px;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.5s ease;
}

.firstImage,
.firstImage2 {
  display: none;
}

/* web and cloud developer section */
.developerSection {
  position: relative;
  top: 14rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 9rem;
}

.developerText {
  position: relative;
  margin-right: 2rem;
  top: 2rem;
}

.developerText h5 {
  font-size: 22px;
  color: #fcfd;
  letter-spacing: 6px;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.developerText h1 {
  font-size: 3rem;
  font-weight: 800;
  list-style: 1.2;
  margin-bottom: 25px;
  color: #fcfdfd;
}

.developerText p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 30px;
  color: #fcfdfd;
  margin-bottom: 35px;
  font-family: 'Open Sans', sans-serif;

}

.developerImg img {
  position: relative;
  width: 100%;
  height: 600px;
  border: 1px solid #5c5f5f;
  border-radius: 3px;
  margin-left: 13%;
  /* margin-top: 2%; */
}

.homeButton2 {
  position: relative;
  display: inline-block;
  padding: 13px 40px;
  background: transparent;
  /* background: var(--bg-color); */
  color: #fcfdfd;
  font-size: 15px;
  font-weight: 600;
  border: 1px solid #fcfdfd;
  border-radius: 2px;
  transition: all 0.5s ease;
  cursor: pointer;
  left: 75%;
}

.homeButton2:hover {
  transform: translateX(10px);
  border: 2px solid #fcfdfd;
  background: #fcfdfd;
  color: #1a1a1a;
}

.centerText {
  text-align: center;
  position: relative;
  top: 15rem;
}

.centerText h2 {
  font-size: 1.5rem;
  font-weight: 800;
  color: #fcfdfd;
}

.tour {
  position: relative;
  top: 9rem;
}

.tourContent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  align-items: center;
  gap: 3rem;
  margin-top: 20rem;
  margin-left: 2.5rem;
}

.box {
  position: relative;
}

.box img {
  border-radius: 3px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
  filter: brightness(70%);
  transition: all 0.5s cubic-bezier(.499, .05, .55, .95);
  will-change: filter;
  display: block;
}

.box h6 {
  position: absolute;
  left: 25px;
  bottom: 95px;
  font-size: 18px;
  font-weight: 500;
  color: #fcfdfd;
}

.box h4 {
  position: absolute;
  color: #fcfdfd;
  left: 25px;
  bottom: 65px;
  font-size: 20px;
  font-weight: 700;
}

.box img:hover {
  filter: brightness(90%) hue-rotate(50deg);
  transform: scale(1.04);
  cursor: pointer;
}

.center-btn {
  text-align: center;
  margin-top: 4rem;
}

.tourBtn {
  position: relative;
  display: inline-block;
  padding: 13px 40px;
  background: transparent;
  color: #fcfdfd;
  font-size: 15px;
  font-weight: 600;
  border: 2px solid #fcfdfd;
  border-radius: 5px;
  transition: all 0.5s ease;
  cursor: pointer;
  left: 0%;
}

.tourBtn:hover {
  transform: translateX(10px);
  border: 2px solid #fcfdfd;
  background: #fcfdfd;
  color: #1a1a1a;
}

.webAppsSection {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  top: 19rem;
}

.webAppsImg img {
  position: relative;
  width: 90%;
  height: 600px;
  border: 1px solid #5c5f5f;
  margin-left: 3%;
  border-radius: 3px;
}

.webAppsText {
  position: relative;
  margin-left: 1rem;
  /* top: 2rem; */
}

.webAppsText h5 {
  font-size: 22px;
  font-weight: 600;
  color: #fcfd;
  letter-spacing: 6px;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.webAppsText h1 {
  font-size: 3rem;
  font-weight: 800;
  list-style: 1.2;
  margin-bottom: 25px;
  color: #fcfdfd;
}

.webAppsText p {
  max-width: 650px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 30px;
  color: #fcfdfd;
  margin-bottom: 35px;
  font-family: 'Open Sans', sans-serif;
}

.homeButton3 {
  position: relative;
  display: inline-block;
  padding: 13px 40px;
  background: transparent;
  color: #fcfdfd;
  font-size: 15px;
  font-weight: 600;
  border: 1px solid #fcfdfd;
  border-radius: 2px;
  transition: all 0.5s ease;
  cursor: pointer;
  left: 75%;
}

.homeButton3:hover {
  transform: translateX(10px);
  border: 2px solid #fcfdfd;
  background: #fcfdfd;
  color: #1a1a1a;
}

.newsletterContent {
  position: relative;
  top: 27rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
  margin-left: 2rem;
}

.newsletterText h2 {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 15px;
  color: #fcfdfd;
}

.newsletterText p {
  font-size: 1rem;
  font-weight: 500;
  color: #ffffffab;
  font-family: 'Open Sans', sans-serif;
  margin-top: 32px;

}

.newsletterContent form {
  display: none;
}

.footer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 2rem;
  left: 2rem;
  top: 32rem;
}

.footerBox {
  display: flex;
  flex-direction: column;
}

.footerBox h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #fcfdfd;
}

.footerBox a {
  color: #979797;
  margin-bottom: 0.8rem;
  transition: all 0.5s ease;
  font-family: 'Open Sans', sans-serif;
}

.footerBox a:hover {
  transform: translateX(-5px);
  color: #fcfdfd;
}

/* footer icons grouped */
.icon1 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-image: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24' fill='rgba(250,250,250,1)'%3E%3Cpath d='M4.00098 3H20.001C20.5533 3 21.001 3.44772 21.001 4V20C21.001 20.5523 20.5533 21 20.001 21H4.00098C3.44869 21 3.00098 20.5523 3.00098 20V4C3.00098 3.44772 3.44869 3 4.00098 3ZM5.00098 5V19H19.001V5H5.00098ZM7.50098 9C6.67255 9 6.00098 8.32843 6.00098 7.5C6.00098 6.67157 6.67255 6 7.50098 6C8.3294 6 9.00098 6.67157 9.00098 7.5C9.00098 8.32843 8.3294 9 7.50098 9ZM6.50098 10H8.50098V17.5H6.50098V10ZM12.001 10.4295C12.5854 9.86534 13.2665 9.5 14.001 9.5C16.072 9.5 17.501 11.1789 17.501 13.25V17.5H15.501V13.25C15.501 12.2835 14.7175 11.5 13.751 11.5C12.7845 11.5 12.001 12.2835 12.001 13.25V17.5H10.001V10H12.001V10.4295Z'%3E%3C/path%3E%3C/svg%3E");
  height: 45px;
  width: 45px;
  color: #fcfdfd;
  font-size: 20px;
  margin-right: 8px;
  transition: transform 0.6s;
  border: 1px solid #fcfdfd;
  border-radius: 0;
}

.icon2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-image: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='rgba(255,255,255,1)'%3E%3Cpath d='M12.001 2C6.47598 2 2.00098 6.475 2.00098 12C2.00098 16.425 4.86348 20.1625 8.83848 21.4875C9.33848 21.575 9.52598 21.275 9.52598 21.0125C9.52598 20.775 9.51348 19.9875 9.51348 19.15C7.00098 19.6125 6.35098 18.5375 6.15098 17.975C6.03848 17.6875 5.55098 16.8 5.12598 16.5625C4.77598 16.375 4.27598 15.9125 5.11348 15.9C5.90098 15.8875 6.46348 16.625 6.65098 16.925C7.55098 18.4375 8.98848 18.0125 9.56348 17.75C9.65098 17.1 9.91348 16.6625 10.201 16.4125C7.97598 16.1625 5.65098 15.3 5.65098 11.475C5.65098 10.3875 6.03848 9.4875 6.67598 8.7875C6.57598 8.5375 6.22598 7.5125 6.77598 6.1375C6.77598 6.1375 7.61348 5.875 9.52598 7.1625C10.326 6.9375 11.176 6.825 12.026 6.825C12.876 6.825 13.726 6.9375 14.526 7.1625C16.4385 5.8625 17.276 6.1375 17.276 6.1375C17.826 7.5125 17.476 8.5375 17.376 8.7875C18.0135 9.4875 18.401 10.375 18.401 11.475C18.401 15.3125 16.0635 16.1625 13.8385 16.4125C14.201 16.725 14.5135 17.325 14.5135 18.2625C14.5135 19.6 14.501 20.675 14.501 21.0125C14.501 21.275 14.6885 21.5875 15.1885 21.4875C19.259 20.1133 21.9999 16.2963 22.001 12C22.001 6.475 17.526 2 12.001 2Z'%3E%3C/path%3E%3C/svg%3E");
  height: 45px;
  width: 45px;
  font-size: 20px;
  margin-right: 8px;
  transition: transform 0.6s;
  border: 1px solid #fcfdfd;
  border-radius: 0;
}

.icon3 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-image: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='rgba(255,242,242,1)'%3E%3Cpath d='M3.00098 5.47902L10.3778 4.4625V11.5902H3.00098V5.47902ZM3.00098 18.521L10.3778 19.5375V12.4982H3.00098V18.521ZM11.1894 19.646L21.001 21V12.4982H11.1894V19.646ZM11.1894 4.35402V11.5902H21.001V3L11.1894 4.35402Z'%3E%3C/path%3E%3C/svg%3E");
  height: 45px;
  width: 45px;
  font-size: 20px;
  margin-right: 8px;
  transition: transform 0.6s;
  border: 1px solid #fcfdfd;
  border-radius: 0;
}

.copyright {
  text-align: center;
  padding: 20px;
  color: #979797;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  position: relative;
  top: 37rem;
}


/* Tablet and Smaller Desktop */


/* Media queries mobile and tablet */


@media (max-width: 768px) {

  .main {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 5000px;
  }

  .header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100vw;
    height: 60px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s ease;
    background: transparent;
    backdrop-filter: blur(35px);
    border-bottom: solid 1px #5c5f5f;
  }

  .logo {
    font-size: 24px;
    white-space: nowrap;
    position: relative;
    color: #ae97e5;
    font-weight: 700;
    /* width: 300px; */
    left: 3%;
    font-family: Open Sans, sans-serif;
  }

  .navbar {
    display: flex;
    justify-content: space-evenly;
    left: 1.5rem;
    max-width: 550px;
    position: relative;
  }

  .navbar a {
    color: #fcfdfd;
    text-decoration: none;
    font-size: 0.6rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin: 5px 12px;
    transition: all 0.5s ease;
    white-space: nowrap;
  }

  .socials {
    /* margin-left: 12rem; */
    position: relative;
    left: 3%;
    display: flex;
    align-items: center;
    white-space: nowrap;
    /* font-size: 0.8rem; */
    /* margin-left: 2rem; */
  }

  .followUs {

    right: 1rem;
    font-size: 0.1em;
    top: 17px;
  }

  .socials a:first-child {
    position: relative;
    color: #fcfdfd;
    font-size: 0.73rem;
    right: 1.4rem;
    margin: 0;
    /* border: solid 1px #fcfdfd; */
    /* margin-left: 2rem; */
  }

  .socials a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-image: no-repeat;
    height: 45px;
    width: 45px;
    /* color: #874213; */
    /* background: #202020; */
    font-size: 20px;
    margin-right: 12px;
    transition: transform 0.6s;
    /* border: 1px solid #fcfdfd; */
    border-radius: 0;
  }

  .iconTop1 {
    position: relative;
    width: 20px;
    height: 20px;
    top: 17px;
    right: 0.8rem;
    margin-right: 8px;
  }

  .iconTop2 {
    position: relative;
    width: 20px;
    height: 20px;
    top: 17px;
    right: 0.8rem;
    margin-right: 8px;
  }

  .iconTop3 {
    position: relative;
    width: 20px;
    height: 20px;
    top: 17px;
    right: 0.8rem;
  }

  .menu {
    display: block;
    cursor: pointer;
    /* display: none; */
    z-index: 10001;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-image: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='rgba(255,255,255,1)'%3E%3Cpath d='M3 4H21V6H3V4ZM3 11H21V13H3V11ZM3 18H21V20H3V18Z'%3E%3C/path%3E%3C/svg%3E");
    color: #fcfdfd;
    height: 20px;
    width: 20px;
    margin-left: -1.5rem;
    margin-top: 15px;
    /* right: 1rem; */
    margin-bottom: 35px;
    /* display: none; */
  }

  /* Home section */
  .home {
    padding: 22px 2% 0px;
    position: relative;
    margin: 0;
    margin-top: 3rem;
  }

  .homeText {
    max-width: 400px;
    overflow: hidden;
    position: relative;
    left: 8px;
    top: 5%;
    margin-top: 0.3rem;
    /* white-space: nowrap; */
  }

  .homeText h5 {
    font-size: 1.3em;
    top: 0;
  }

  .homeText h1 {
    margin-top: 3rem;
    font-size: 1.9rem;
    color: #fcfdfd;
  }

  .homePara {
    margin-top: 1rem;
    /* font-size: 0.8rem; */
    white-space: pre-wrap;
    font-size: 17px;
  }

  .homeButton {
    position: relative;
    padding: 10px 15px;
    font-size: 14px;
    left: 66%;
    border-radius: 3px;
  }

  .feature {
    display: none;
    position: relative;
    top: 2rem;
    /* margin: 1rem; */
    left: 0;
  }

  .techStack {
    display: none;
    position: relative;
    /* width: 100%; */
    top: 8.5rem;
    left: 270px;
    font-size: 1.5rem;

    color: #b1b5b5;
  }

  .featureContent {
    position: relative;
    grid-template-rows: repeat(auto-fit, minmax(146px, auto));
    gap: 2rem;
    align-items: center;
    margin: 1rem;
    left: 0;
  }

  .featureContent h4 {
    position: relative;
    left: 2.5%;
    text-align: start;

  }

  .feature {
    position: relative;
    top: 2rem;
  }

  .rowImg {
    position: relative;
    background-repeat: no-repeat;
    background-size: fill;
    color: #fcfdfd;
    margin: 0 auto;
    margin-bottom: 24px;
    /* border-radius: 50%; */
    cursor: pointer;
  }

  .firstImage {
    position: relative;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 98%;
    border-radius: 3px;
    border: 1px solid #a6abab;
    top: 100px;
    left: 1%;
  }


  .developerImg {
    display: none;

  }

  .developerSection {
    padding: 22px 2% 0px;
    position: relative;
    margin: 0;
    /* margin-top: 2rem; */
    top: 4.5rem;
    left: 0;
    max-width: 400px;
  }

  .developerText {
    position: relative;
    left: 10px;
    top: 2%;
    width: 350px;
    /* margin-top: 2.3rem; */
    /* white-space: nowrap; */
  }

  .developerText h5 {
    font-size: 1.1rem;
  }

  .developerText h1 {
    margin-top: -0.5rem;
    font-size: 1.6rem;
  }

  .developerText p {
    margin-top: -0.8rem;
    white-space: pre-wrap;
    font-size: 17px;
  }

  .homeButton2 {
    position: relative;
    padding: 10px 15px;
    font-size: 14px;
    left: 66%;
    bottom: 1rem;
    border-radius: 3px;
  }

  .tour {
    position: relative;
    max-width: 100vw;
  }

  .centerText {
    position: relative;
    top: 1rem;
    margin: 0;
  }

  .tourContent {
    position: relative;
    left: -0;
    bottom: 15rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 3rem;
    /* margin-top: 20rem; */
    /* margin-right: 2rem; */
  }


  .box {
    position: relative;
    left: -26px;
    max-width: 350px;
    border: 1px solid #393a3a;
  }

  .box img {
    border-radius: 3px;
    max-width: 100%;
    object-fit: cover;
    filter: brightness(70%);
    transition: all 0.5s cubic-bezier(.499, .05, .55, .95);
    will-change: filter;
    display: block;
  }

  .box h6 {
    position: absolute;
    left: 15px;
    bottom: 75px;
    color: #fcfdfd;
    font-size: 1rem;
  }

  .box h4 {
    position: absolute;
    color: #fcfdfd;
    left: 15px;
    bottom: 3%;
    font-size: 8px;
    font-weight: 700;
  }

  .box img:hover {
    filter: brightness(90%) hue-rotate(50deg);
    transform: scale(1.04);
    cursor: pointer;
  }

  .tourBtn {
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    background: transparent;
    /* background: var(--bg-color); */
    color: #fcfdfd;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid #fcfdfc;
    border-radius: 5px;
    transition: all 0.5s ease;
    cursor: pointer;
    left: 24%;
  }


  .firstImage2 {
    position: relative;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 360px;
    border-radius: 3px;
    top: -40px;
    left: 0.36rem;
  }


  .webAppsSection {
    padding: 0;
    position: relative;
    margin: 0;
    max-width: 100%;
    top: -5rem;
  }

  .webAppsImg img {
    display: none;
  }

  .webAppsText {
    /* position: relative; */
    width: 100vw;
    left: 10px;
    top: 3rem;
    margin: 0;
    /* white-space: nowrap; */
  }

  .webAppsText h1 {
    /* font-size: 4rem; */
    font-weight: 800;
    margin-bottom: 25px;
    max-width: 500px;
    color: #fcfdfd;
    margin-top: 1rem;
    font-size: 1.6rem;
  }

  .webAppsText p {
    /* font-size: 1rem; */
    /* line-height: 30px; */
    color: #fcfdfd;
    margin-bottom: 35px;
    font-size: 17px;
    max-width: 350px;
    /* white-space: pre-wrap; */
  }

  .homeButton3 {
    position: relative;
    display: inline-block;
    background: transparent;
    color: #fcfdfd;
    font-weight: 600;
    border: 1px solid #fcfdfd;
    transition: all 0.5s ease;
    cursor: pointer;
    left: 0%;
    padding: 13px 20px;
    font-size: 14px;
    left: 61%;
    border-radius: 3px;
  }

  .box h6 {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .box h4 {
    font-size: 32px;
  }

  .newsletterContent {
    grid-template-columns: 1fr;
    gap: 2rem;
    left: -26px;
    top: 3rem;
  }

  .newsletterText h2 {
    font-size: 2rem;
  }

  .newsletterText p {
    font-size: 0.9rem;
  }

  .footer {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 2rem;
    left: 16px;
    top: 8rem;
  }

  .servicesContent {
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 2rem;

  }

  .copyright {
    position: relative;
    bottom: 0;
    font-size: 18px
  }
}

@media (max-width: 425px) {

  .main {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 5000px;
  }

  .header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100vw;
    height: 60px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s ease;
    background: transparent;
    backdrop-filter: blur(35px);
    border-bottom: solid 1px #5c5f5f;
  }

  .logo {
    font-size: 24px;
    white-space: nowrap;
    position: relative;
    color: #0ccece;
    font-weight: 700;
    /* width: 300px; */
    left: 3%;
    font-family: Open Sans, sans-serif;
  }

  .navbar {
    display: none;
  }

  .socials {
    /* margin-left: 12rem; */
    position: relative;
    left: 4.57rem;
    display: flex;
    align-items: center;
    white-space: nowrap;
    /* font-size: 0.8rem; */
    /* margin-left: 2rem; */
  }

  .followUs {

    right: 1rem;
    font-size: 0.2em;
  }

  .socials a:first-child {
    position: relative;
    color: #fcfdfd;
    font-size: 0.73rem;
    right: 1.4rem;
    margin: 0;
    /* border: solid 1px #fcfdfd; */
    /* margin-left: 2rem; */
  }

  .socials a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-image: no-repeat;
    height: 45px;
    width: 45px;
    /* color: #874213; */
    /* background: #202020; */
    font-size: 20px;
    margin-right: 8px;
    transition: transform 0.6s;
    /* border: 1px solid #fcfdfd; */
    border-radius: 0;
  }

  .iconTop1 {
    position: relative;
    width: 25px;
    height: 25px;
    right: 0.8rem;
    margin-right: 4px;
  }

  .iconTop2 {
    position: relative;
    width: 25px;
    height: 25px;
    right: 0.8rem;
    margin-right: 4px;
  }

  .iconTop3 {
    position: relative;
    width: 25px;
    height: 25px;
    right: 0.8rem;
  }

  .menu {
    display: block;
    cursor: pointer;
    /* display: none; */
    z-index: 10001;
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-image: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='rgba(255,255,255,1)'%3E%3Cpath d='M3 4H21V6H3V4ZM3 11H21V13H3V11ZM3 18H21V20H3V18Z'%3E%3C/path%3E%3C/svg%3E");
    color: #fcfdfd;
    height: 25px;
    width: 25px;
    left: 18.5rem;
    margin-top: 15px;
    /* right: 1rem; */
    margin-bottom: 35px;
    /* display: none; */
  }

  /* Home section */
  .home {
    padding: 22px 2% 0px;
    position: relative;
    margin: 0;
    margin-top: 7rem;
  }

  .homeText {
    max-width: 400px;
    overflow: hidden;
    position: relative;
    left: 8px;
    top: 5%;
    margin-top: 0.3rem;
    /* white-space: nowrap; */
  }

  .homeText h5 {
    font-size: 1.3em;
    top: 0;
  }

  .homeText h1 {
    margin-top: 3rem;
    font-size: 1.9rem;
    color: #fcfdfd;
  }

  .homePara {
    margin-top: 1rem;
    /* font-size: 0.8rem; */
    white-space: pre-wrap;
    font-size: 17px;
  }

  .homeButton {
    position: relative;
    padding: 10px 15px;
    font-size: 14px;
    left: 66%;
    border-radius: 3px;
  }

  .feature {
    display: none;
    position: relative;
    top: 2rem;
    /* margin: 1rem; */
    left: 0;
  }

  .techStack {
    display: none;
    position: relative;
    /* width: 100%; */
    top: 8.5rem;
    left: 270px;
    font-size: 1.5rem;

    color: #b1b5b5;
  }

  .featureContent {
    position: relative;
    grid-template-rows: repeat(auto-fit, minmax(146px, auto));
    gap: 2rem;
    align-items: center;
    margin: 1rem;
    left: 0;
  }

  .featureContent h4 {
    position: relative;
    left: 2.5%;
    text-align: start;

  }

  .feature {
    position: relative;
    top: 2rem;
  }

  .rowImg {
    position: relative;
    background-repeat: no-repeat;
    background-size: fill;
    color: #fcfdfd;
    margin: 0 auto;
    margin-bottom: 24px;
    /* border-radius: 50%; */
    cursor: pointer;
  }

  .firstImage {
    position: relative;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 98%;
    border-radius: 3px;
    border: 1px solid #a6abab;
    top: 100px;
    left: 1%;
  }


  .developerImg {
    display: none;

  }

  .developerSection {
    padding: 22px 2% 0px;
    position: relative;
    margin: 0;
    /* margin-top: 2rem; */
    top: 4.5rem;
    left: 0;
    max-width: 400px;
  }

  .developerText {
    position: relative;
    left: 10px;
    top: 2%;
    width: 350px;
    /* margin-top: 2.3rem; */
    /* white-space: nowrap; */
  }

  .developerText h5 {
    font-size: 1.1rem;
  }

  .developerText h1 {
    margin-top: -0.5rem;
    font-size: 1.6rem;
  }

  .developerText p {
    margin-top: -0.8rem;
    white-space: pre-wrap;
    font-size: 17px;
  }

  .homeButton2 {
    position: relative;
    padding: 10px 15px;
    font-size: 14px;
    left: 66%;
    bottom: 1rem;
    border-radius: 3px;
  }

  .tour {
    position: relative;
    max-width: 100vw;
  }

  .centerText {
    position: relative;
    top: 1rem;
    margin: 0;
  }

  .tourContent {
    position: relative;
    left: -0;
    bottom: 15rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 3rem;
    /* margin-top: 20rem; */
    /* margin-right: 2rem; */
  }


  .box {
    position: relative;
    left: -26px;
    max-width: 350px;
    border: 1px solid #393a3a;
  }

  .box img {
    border-radius: 3px;
    max-width: 100%;
    object-fit: cover;
    filter: brightness(70%);
    transition: all 0.5s cubic-bezier(.499, .05, .55, .95);
    will-change: filter;
    display: block;
  }

  .box h6 {
    position: absolute;
    left: 15px;
    bottom: 75px;
    color: #fcfdfd;
    font-size: 1rem;
  }

  .box h4 {
    position: absolute;
    color: #fcfdfd;
    left: 15px;
    bottom: 3%;
    font-size: 8px;
    font-weight: 700;
  }

  .box img:hover {
    filter: brightness(90%) hue-rotate(50deg);
    transform: scale(1.04);
    cursor: pointer;
  }

  .tourBtn {
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    background: transparent;
    /* background: var(--bg-color); */
    color: #fcfdfd;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid #fcfdfc;
    border-radius: 5px;
    transition: all 0.5s ease;
    cursor: pointer;
    left: 24%;
  }


  .firstImage2 {
    position: relative;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 360px;
    border-radius: 3px;
    top: -40px;
    left: 0.36rem;
  }


  .webAppsSection {
    padding: 0;
    position: relative;
    margin: 0;
    max-width: 100%;
    top: -5rem;
  }

  .webAppsImg img {
    display: none;
  }

  .webAppsText {
    /* position: relative; */
    width: 100vw;
    left: 10px;
    top: 3rem;
    margin: 0;
    /* white-space: nowrap; */
  }

  .webAppsText h1 {
    /* font-size: 4rem; */
    font-weight: 800;
    margin-bottom: 25px;
    max-width: 500px;
    color: #fcfdfd;
    margin-top: 1rem;
    font-size: 1.6rem;
  }

  .webAppsText p {
    /* font-size: 1rem; */
    /* line-height: 30px; */
    color: #fcfdfd;
    margin-bottom: 35px;
    font-size: 17px;
    max-width: 350px;
    /* white-space: pre-wrap; */
  }

  .homeButton3 {
    position: relative;
    display: inline-block;
    background: transparent;
    color: #fcfdfd;
    font-weight: 600;
    border: 1px solid #fcfdfd;
    transition: all 0.5s ease;
    cursor: pointer;
    left: 0%;
    padding: 13px 20px;
    font-size: 14px;
    left: 61%;
    border-radius: 3px;
  }

  .box h6 {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .box h4 {
    font-size: 32px;
  }

  .newsletterContent {
    grid-template-columns: 1fr;
    gap: 2rem;
    left: -26px;
    top: 3rem;
  }

  .newsletterText h2 {
    font-size: 2rem;
  }

  .newsletterText p {
    font-size: 0.9rem;
  }

  .footer {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 2rem;
    left: 16px;
    top: 8rem;
  }

  .servicesContent {
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 2rem;

  }

  .copyright {
    position: relative;
    bottom: 0;
    font-size: 18px
  }
}

@media (max-width: 375px) {
  .main {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 5000px;
  }

  .header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100vw;
    height: 60px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s ease;
    background: transparent;
    backdrop-filter: blur(35px);
    border-bottom: solid 1px #5c5f5f;
  }

  .logo {
    font-size: 24px;
    white-space: nowrap;
    position: relative;
    color: #0ccece;
    font-weight: 700;
    /* width: 300px; */
    left: 3%;
    font-family: Open Sans, sans-serif;
  }

  .navbar {
    display: none;
  }

  .socials {
    /* margin-left: 12rem; */
    position: relative;
    left: 24.5%;
    display: flex;
    align-items: center;
    white-space: nowrap;
    /* font-size: 0.8rem; */
    /* margin-left: 2rem; */
  }

  .followUs {

    right: 1rem;
    font-size: 0.2em;
  }

  .socials a:first-child {
    position: relative;
    color: #fcfdfd;
    font-size: 0.73rem;
    right: 1.4rem;
    margin: 0;
    /* border: solid 1px #fcfdfd; */
    /* margin-left: 2rem; */
  }

  .socials a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-image: no-repeat;
    height: 45px;
    width: 45px;
    /* color: #874213; */
    /* background: #202020; */
    font-size: 20px;
    margin-right: 8px;
    transition: transform 0.6s;
    /* border: 1px solid #fcfdfd; */
    border-radius: 0;
  }

  .iconTop1 {
    position: relative;
    width: 25px;
    height: 25px;
    right: 0.8rem;
    margin-right: 4px;
  }

  .iconTop2 {
    position: relative;
    width: 25px;
    height: 25px;
    right: 0.8rem;
    margin-right: 4px;
  }

  .iconTop3 {
    position: relative;
    width: 25px;
    height: 25px;
    right: 0.8rem;
  }

  .menu {
    display: block;
    cursor: pointer;
    /* display: none; */
    z-index: 10001;
    position: fixed;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-image: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='rgba(255,255,255,1)'%3E%3Cpath d='M3 4H21V6H3V4ZM3 11H21V13H3V11ZM3 18H21V20H3V18Z'%3E%3C/path%3E%3C/svg%3E");
    color: #fcfdfd;
    height: 25px;
    width: 25px;
    margin-left: -1.5rem;
    margin-top: 8px;
    /* right: 1rem; */
    margin-bottom: 35px;
    /* display: none; */
  }

  /* Home section */
  .home {
    padding: 0;
    position: relative;
    margin: 0;
    margin-top: 7rem;
  }

  .homeText {
    max-width: 350px;
    overflow: hidden;
    position: relative;
    left: 16px;
    top: 5%;
    margin-top: 0.3rem;
    /* white-space: nowrap; */
  }

  .homeText h5 {
    font-size: 1.3em;
    top: 0;
  }

  .homeText h1 {
    margin-top: 3rem;
    font-size: 1.9rem;
    color: #fcfdfd;
  }

  .homePara {
    margin-top: 1rem;
    /* font-size: 0.8rem; */
    white-space: pre-wrap;
    font-size: 17px;
  }

  .homeButton {
    position: relative;
    padding: 10px 15px;
    font-size: 14px;
    left: 66%;
    border-radius: 3px;
  }

  .feature {
    display: none;
    position: relative;
    top: 2rem;
    /* margin: 1rem; */
    left: 0;
  }

  .techStack {
    display: none;
    position: relative;
    /* width: 100%; */
    top: 8.5rem;
    left: 270px;
    font-size: 1.5rem;

    color: #b1b5b5;
  }

  .featureContent {
    position: relative;
    grid-template-rows: repeat(auto-fit, minmax(146px, auto));
    gap: 2rem;
    align-items: center;
    margin: 1rem;
    left: 0;
  }

  .featureContent h4 {
    position: relative;
    left: 2.5%;
    text-align: start;

  }

  .feature {
    position: relative;
    top: 2rem;
  }

  .rowImg {
    position: relative;
    background-repeat: no-repeat;
    background-size: fill;
    color: #fcfdfd;
    margin: 0 auto;
    margin-bottom: 24px;
    /* border-radius: 50%; */
    cursor: pointer;
  }

  .firstImage {
    position: relative;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 360px;
    border-radius: 3px;
    top: 100px;
    left: 0.39rem;
  }


  .developerImg {
    display: none;

  }

  .developerSection {
    padding: 0;
    position: relative;
    margin: 0;
    /* margin-top: 2rem; */
    top: 4.5rem;
    left: 0;
    width: 100%;
  }

  .developerText {
    position: relative;
    left: 10px;
    top: 2%;
    width: 350px;
    /* margin-top: 2.3rem; */
    /* white-space: nowrap; */
  }

  .developerText h5 {
    font-size: 1.1rem;
  }

  .developerText h1 {
    margin-top: -0.5rem;
    font-size: 1.6rem;
  }

  .developerText p {
    margin-top: -0.8rem;
    white-space: pre-wrap;
    font-size: 17px;
  }

  .homeButton2 {
    position: relative;
    padding: 10px 15px;
    font-size: 14px;
    left: 66%;
    bottom: 1rem;
    border-radius: 3px;
  }

  .tour {
    position: relative;
    max-width: 100vw;
  }

  .centerText {
    position: relative;
    top: 1rem;
    margin: 0;
  }

  .tourContent {
    position: relative;
    left: -0;
    bottom: 15rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 3rem;
    /* margin-top: 20rem; */
    /* margin-right: 2rem; */
  }


  .box {
    position: relative;
    left: -26px;
    max-width: 350px;
    border: 1px solid #393a3a;
  }

  .box img {
    border-radius: 3px;
    max-width: 100%;
    object-fit: cover;
    filter: brightness(70%);
    transition: all 0.5s cubic-bezier(.499, .05, .55, .95);
    will-change: filter;
    display: block;
  }

  .box h6 {
    position: absolute;
    left: 15px;
    bottom: 75px;
    color: #fcfdfd;
    font-size: 1rem;
  }

  .box h4 {
    position: absolute;
    color: #fcfdfd;
    left: 15px;
    bottom: 3%;
    font-size: 8px;
    font-weight: 700;
  }

  .box img:hover {
    filter: brightness(90%) hue-rotate(50deg);
    transform: scale(1.04);
    cursor: pointer;
  }

  .tourBtn {
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    background: transparent;
    /* background: var(--bg-color); */
    color: #fcfdfd;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid #fcfdfc;
    border-radius: 5px;
    transition: all 0.5s ease;
    cursor: pointer;
    left: 24%;
  }


  .firstImage2 {
    position: relative;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 360px;
    border-radius: 3px;
    top: -40px;
    left: 0.36rem;
  }


  .webAppsSection {
    padding: 0;
    position: relative;
    margin: 0;
    max-width: 100%;
    top: -5rem;
  }

  .webAppsImg img {
    display: none;
  }

  .webAppsText {
    /* position: relative; */
    width: 100vw;
    left: 10px;
    top: 3rem;
    margin: 0;
    /* white-space: nowrap; */
  }

  .webAppsText h1 {
    /* font-size: 4rem; */
    font-weight: 800;
    margin-bottom: 25px;
    max-width: 500px;
    color: #fcfdfd;
    margin-top: 1rem;
    font-size: 1.6rem;
  }

  .webAppsText p {
    /* font-size: 1rem; */
    /* line-height: 30px; */
    color: #fcfdfd;
    margin-bottom: 35px;
    font-size: 17px;
    max-width: 350px;
    /* white-space: pre-wrap; */
  }

  .homeButton3 {
    position: relative;
    display: inline-block;
    background: transparent;
    color: #fcfdfd;
    font-weight: 600;
    border: 1px solid #fcfdfd;
    transition: all 0.5s ease;
    cursor: pointer;
    left: 0%;
    padding: 13px 20px;
    font-size: 14px;
    left: 61%;
    border-radius: 3px;
  }

  .box h6 {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .box h4 {
    font-size: 32px;
  }

  .newsletterContent {
    grid-template-columns: 1fr;
    gap: 2rem;
    left: -26px;
    top: 3rem;
  }

  .newsletterText h2 {
    font-size: 2rem;
  }

  .newsletterText p {
    font-size: 0.9rem;
  }

  .footer {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 2rem;
    left: 16px;
    top: 8rem;
  }

  .servicesContent {
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 2rem;

  }

  .copyright {
    position: relative;
    bottom: 0;
    font-size: 18px
  }
}

@media (max-width: 320px) {

  .main {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 5000px;
  }

  .header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    max-width: 100vw;
    height: 50px;
    background: transparent;
    /* padding: 27px 17%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s ease;
    background: transparent;
    backdrop-filter: blur(35px);
    border-bottom: solid 1px #5c5f5f;
  }

  .logo {
    font-size: 22px;
    white-space: nowrap;
    position: relative;
    color: #df6a6a;
    font-weight: 700;
    /* width: 300px; */
    left: 3%;
    font-family: Open Sans, sans-serif;
  }

  .navbar {
    display: none;
  }

  .socials {
    /* margin-left: 12rem; */
    position: relative;
    left: 24%;
    margin-bottom: 11px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    /* font-size: 0.8rem; */
    /* margin-left: 2rem; */
  }

  .followUs {

    right: 1rem;
  }

  .socials a:first-child {
    position: relative;
    color: #fcfdfd;
    font-size: 0.53rem;
    right: 1.4rem;
    margin: 0;
    /* border: solid 1px #fcfdfd; */
    /* margin-left: 2rem; */
  }

  .socials a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-image: no-repeat;
    height: 45px;
    width: 45px;
    /* color: #874213; */
    /* background: #202020; */
    font-size: 20px;
    margin-right: 4px;
    transition: transform 0.6s;
    /* border: 1px solid #fcfdfd; */
    border-radius: 0;
  }

  .iconTop1 {
    position: relative;
    width: 20px;
    height: 20px;
    right: 0.9rem;
    margin-right: 2px;
  }

  .iconTop2 {
    position: relative;
    width: 20px;
    height: 20px;
    right: 0.9rem;
    margin-right: 2px;
  }

  .iconTop3 {
    position: relative;
    width: 20px;
    height: 20px;
    right: 0.9rem;
  }

  .menu {
    display: block;
    cursor: pointer;
    /* display: none; */
    z-index: 10001;
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-image: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='rgba(255,255,255,1)'%3E%3Cpath d='M3 4H21V6H3V4ZM3 11H21V13H3V11ZM3 18H21V20H3V18Z'%3E%3C/path%3E%3C/svg%3E");
    color: #fcfdfd;
    height: 20px;
    width: 20px;
    margin-left: -3.7rem;
    margin-top: 12px;
    /* right: -1rem; */
    margin-bottom: 35px;
    /* display: none; */
  }

  /* Home section */
  .home {
    padding: 0;
    position: relative;
    margin-right: 0;
    top: 2rem;
  }

  .homeText {
    max-width: 300px;
    overflow: hidden;
    position: relative;
    left: 10px;
    top: -1.1rem;
    margin: -1rem 0.2rem 0 0.2rem;
    /* white-space: nowrap; */
  }

  .homeText h5 {
    font-size: 1rem;
    top: 0;
  }

  .homeText h1 {
    position: relative;
    top: -1.1rem;
    font-size: 1.4rem;
    color: #fcfdfd;
  }

  .homePara {
    margin-top: -1.8rem;
    /* font-size: 0.8rem; */
    white-space: pre-wrap;
    font-size: 17px;
  }

  .homeButton {
    position: relative;
    padding: 5px 10px;
    font-size: 14px;
    left: 64%;
    border-radius: 3px;
  }

  .feature {
    display: none;
  }

  /* .techStack {
    display: none;
  } */

  .featureContent {
    position: relative;
    grid-template-rows: repeat(auto-fit, minmax(146px, auto));
    gap: 2rem;
    align-items: center;
    margin: 1rem;
    left: 0;
  }

  .featureContent h4 {
    position: relative;
    left: 2.5%;
    text-align: start;

  }

  .feature {
    position: relative;
    top: 2rem;
  }

  .rowImg {
    position: relative;
    background-repeat: no-repeat;
    background-size: fill;
    color: #fcfdfd;
    margin: 0 auto;
    margin-bottom: 24px;
    /* border-radius: 50%; */
    cursor: pointer;
  }

  .firstImage {
    position: relative;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    max-width: 300px;
    height: 200px;
    border-radius: 3px;
    top: 9.5rem;
    left: 10px;
  }


  .developerImg {
    display: none;

  }

  .developerSection {
    padding: 0;
    position: relative;
    margin: 0;
    top: 7rem;
    /* margin-top: 2rem; */
    /* top: -2rem; */
    width: 320px;
  }

  .developerText {
    position: relative;
    left: 16px;
    top: 3.5rem;
    /* margin-top: 2.3rem; */
    /* white-space: nowrap; */
  }

  .developerText h5 {
    font-size: 1rem;
  }

  .developerText h1 {
    margin-top: -0.5rem;
    font-size: 1.2rem;
  }

  .developerText p {
    width: 300px;
    margin-top: -0.8rem;
    white-space: pre-wrap;
    font-size: 17px;
  }

  .homeButton2 {
    position: relative;
    padding: 5px 10px;
    font-size: 14px;
    left: 54%;
    bottom: 16px;
    border-radius: 3px;
  }

  .tour {
    position: relative;
    max-width: 320px;
    top: 6rem;
  }

  .centerText {
    position: relative;
    top: 7rem;
    margin: 0;
  }

  .centerText h2 {
    font-size: 1.2rem;
  }

  .tourContent {
    position: relative;
    bottom: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 3rem;
    /* margin-top: 20rem; */
    /* margin-right: 2rem; */
  }


  .box {
    position: relative;
    max-width: 350px;
    border: 1px solid #393a3a;
  }

  .box img {
    border-radius: 3px;
    object-fit: cover;
    filter: brightness(70%);
    transition: all 0.5s cubic-bezier(.499, .05, .55, .95);
    will-change: filter;
    display: block;
  }

  .box h6 {
    position: absolute;
    left: 15px;
    bottom: 75px;
    color: #fcfdfd;
    font-size: 0.8rem;
  }

  .box h4 {
    position: absolute;
    color: #fcfdfd;
    left: 15px;
    bottom: 3%;
    font-size: 1.4rem;
    /* font-weight: 700; */
  }

  .box img:hover {
    filter: brightness(90%) hue-rotate(50deg);
    transform: scale(1.04);
    cursor: pointer;
  }

  .tourBtn {
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    background: transparent;
    /* background: var(--bg-color); */
    color: #fcfdfd;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid #fcfdfd;
    border-radius: 3px;
    transition: all 0.5s ease;
    cursor: pointer;
    left: 43%;
    transform: translate(-50%);
    bottom: 8px;
  }


  .firstImage2 {
    position: relative;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 300px;
    max-height: 250px;
    border-radius: 3px;
    top: -1rem;
    left: 10px;
  }


  .webAppsSection {
    padding: 0;
    position: relative;
    margin: 0;
    max-width: 320px;
    top: -8rem;

  }

  .webAppsImg img {
    display: none;
  }

  .webAppsText {
    /* position: relative; */
    max-width: 320px;
    left: 10px;
    top: 7.5rem;
    margin: 0;
    /* white-space: nowrap; */
  }

  .webAppsText h5 {
    font-size: 1rem;
  }

  .webAppsText h1 {
    /* font-size: 4rem; */
    font-weight: 800;
    margin-bottom: 25px;
    max-width: 500px;
    color: #fcfdfd;
    margin-top: 1rem;
    font-size: 1.2rem;
  }

  .webAppsText p {
    /* font-size: 1rem; */
    /* line-height: 30px; */
    color: #fcfdfd;
    margin-bottom: 35px;
    font-size: 17px;
    max-width: 300px;
    /* white-space: pre-wrap; */
  }

  .homeButton3 {
    position: relative;
    display: inline-block;
    background: transparent;
    color: #fcfdfd;
    font-weight: 600;
    border: 1px solid #fcfdfd;
    transition: all 0.5s ease;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 14px;
    left: 61%;
    bottom: 28px;
    border-radius: 3px;
  }

  .newsletterContent {
    grid-template-columns: 1fr;
    gap: 2rem;
    left: -29px;
    top: 1rem;
  }

  .newsletterText h2 {
    font-size: 2rem;
  }

  .newsletterText p {
    font-size: 0.9rem;
  }

  .footer {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 2rem;
    left: 10px;
    top: 4rem;
  }

  .servicesContent {
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 2rem;

  }

  .copyright {
    position: relative;
    bottom: 0;
    font-size: 18px
  }

  .copyright p {
    position: relative;
    font-size: 16px;
    top: -32rem;
  }
}